input{
    border-radius: 50px;
    background-color: #35383E;
    color:rgb(196, 191, 191);
    width: 325px;
}
.roundedd{
    border-radius: 50px;
    border: 0px;
    background-color: #3454CF;
}

.roundeddi{
    border-radius: 50px;
    border: 0px;
    background-color: #3e3d3d;
}