
.card:hover {
    background-color: #3454CF;
    color:rgb(255, 255, 255);
    .card-subtitle{
        color:rgb(255, 255, 255);
    }
  }

  .card{
    color:black;
    .card-subtitle{
        color:black;
      }
  }
  