.pillhigh{
    background-color: #C9ECDC;
    color:#3C7E60;
}

.pillmedium{
    background-color: #F9D8F8;
    color:#853282;
}

.pilllow{
    background-color: #F8CDD9;
    color:#8E4358;
}
input{
    border-radius: 50px;
    width: 325px;
    border:1px solid #bac0be;
}