
.progress-bg {
	height: 60px;
	border-radius: 5px;
    text-align: end;
    background-color: #fff;
}

.progress-bar {
	height: 60px;
	border-radius: 5px;
	float: left;
}

 .progress-bg span.raised {
	line-height: 60px;
	text-align: start;
	display: inline;
}
.example-spacer {
    flex: 1 1 auto;
  }





